
<div class="col-xs-12" *ngIf="assignment">

  <div class="row">
    <br>
  </div>
  <div class="row">


    <div class="col-xs-6">
      <div class="col-xs-12 text-center">
        <label class="sectionText">
          Most Popular {{assignment?.taskAlias}} -
        </label>
        <label class="sectionText-sm">{{mostPopularTask?.taskName}}</label>

      </div>

      <div class="col-xs-12 " *ngIf="firstChoiceTasks">
        <ngx-charts-pie-chart
          class="pull-left"
          *ngIf="mostPopularTasksGraphData && mostPopularTasksGraphData?.length > 0"
          [results]="mostPopularTasksGraphData"
          [labels]="true"
          [tooltipText]="mostPopularChoiceTooltipFunction"
        >

        </ngx-charts-pie-chart>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="col-xs-12 text-center">
        <label class="sectionText">
          Least Popular {{assignment?.taskAlias}} -
        </label>
        <label class="sectionText-sm">{{leastPopularTask?.taskName}}</label>

      </div>

      <div class="col-xs-12" *ngIf="leastPopularTasks">
        <ngx-charts-pie-chart
          class="pull-left"
          *ngIf="leastPopularTasksGraphData && leastPopularTasksGraphData?.length > 0"
          [results]="leastPopularTasksGraphData"
          [labels]="true"
          [tooltipText]="leastPopularChoiceTooltipFunction"
        >

        </ngx-charts-pie-chart>
      </div>


    </div>
  </div>
  <div class="row">
    <hr>
  </div>
  <div class="row" *ngIf="assignment?.finished">
    <div class="col-xs-12 " >

      <app-result-stats
      [assignmentId]="assignmentId"
      [assignment]="assignment"

      ></app-result-stats>

    </div>
  </div>
</div>

