
<div class="col-xs-12" *ngIf="assignment">

  <div class="row">
    <br>
  </div>



  <ng-container #taskRatings *ngIf="numberOfTasks > 0">
    <ng-container #moreThan6Tasks *ngIf="numberOfTasks >= 6">

      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12 text-center">
              <label class="labelDesktop">
                Most Popular {{assignment?.taskAlias || 'Task'}} -
              </label>
              <label class="sectionText-sm">{{mostPopularTask?.taskName}}</label>
              <span class="glyphicon glyphicon-question-sign" tooltip="Scores are calculated using the Lower bound of Wilson score confidence interval for a Bernoulli parameter">


              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <ngx-charts-bar-horizontal
                [results]="top3Tasks"
                [yAxis]="true"
                [xAxis]="true"
                [showGridLines]="true"
                [showXAxisLabel]="true"
                [xAxisLabel]="'Score'"
              >

              </ngx-charts-bar-horizontal>
            </div>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12 text-center">
              <label class="labelDesktop">
                Least Popular {{assignment?.taskAlias || 'Task'}} -
              </label>
              <label class="sectionText-sm">{{leastPopularTask?.taskName}}</label>
              <span class="glyphicon glyphicon-question-sign" tooltip="Scores are calculated using the Lower bound of Wilson score confidence interval for a Bernoulli parameter">

              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <ngx-charts-bar-horizontal
                [results]="worst3Tasks"
                [xAxis]="true"
                [yAxis]="true"
                [showGridLines]="true"
                [showXAxisLabel]="true"
                [xAxisLabel]="'Score'"
              >

              </ngx-charts-bar-horizontal>
            </div>
          </div>
        </div>
      </div>

    </ng-container>

    <ng-container #lessThan6Tasks *ngIf="numberOfTasks < 6">

      <div class="row">
        <div class="col-xs-12">
          <div class="row">

            <div class="col-xs-6 text-center">
              <div class="row">
                <div class="col-xs-12">
                  <label class="sectionText">
                    Most Popular {{assignment?.taskAlias || 'Task'}} -
                  </label>
                  <label class="sectionText-sm">{{mostPopularTask?.taskName}}</label>
                </div>

                <div class="col-xs-12">
                  <label class="sectionText">
                    Least Popular {{assignment?.taskAlias || 'Task'}} -
                  </label>
                  <label class="sectionText-sm">{{leastPopularTask?.taskName}}</label>
                </div>
              </div>

            </div>

            <div class="col-xs-6">
              <div class="row">
                <div class="col-xs-12 text-center">
                  <label class="labelMobile">Task Scores
                    <span class="glyphicon glyphicon-question-sign" tooltip="Scores are calculated using the Lower bound of Wilson score confidence interval for a Bernoulli parameter">

                  </span></label>
                </div>
              </div>
              <ngx-charts-bar-horizontal
                [results]="mostPopularTasksGraphData"
                [yAxis]="true"
                [xAxis]="true"
                [showGridLines]="true"
                [showXAxisLabel]="true"
                [xAxisLabel]="'Score'"
              >

              </ngx-charts-bar-horizontal>
            </div>
          </div>




        </div>


      </div>

    </ng-container>
  </ng-container>


  <div class="row">
    <hr>
  </div>
  <div class="row" *ngIf="assignment?.finished">
    <div class="col-xs-12 " >

      <app-result-stats
      [assignmentId]="assignmentId"
      [assignment]="assignment"

      ></app-result-stats>

    </div>
  </div>
</div>

