<div class="panel panel-default">
  <div class="panel-heading">
    {{getPanelHeading()}}
  </div>

  <div class="panel-body">

    <ng-container *ngIf="isAgentMode()">
      <div class="col-xs-8">
        <ng-container *ngIf="strings && strings.length > 0">
          <div class="input-group" *ngFor="let email of strings; let i = index" >
            <input type="text" id="removeEmail" class="form-control" [value]="email" disabled>

            <div class="input-group-addon btn-danger" (click)="removeString(i)">
              <span class="glyphicon glyphicon-minus-sign"></span>
              Remove
            </div>
          </div>
        </ng-container>

        <div class="input-group">

          <input type="text" id="addEmail" class="form-control" [formControl]="currentEmailInput" placeholder="email">
          <span class="input-group-addon">@</span>
          <input type="text" class="form-control" placeholder="address.com" [formControl]="currentEmailDomainInput">


          <div class="input-group-addon btn-success" (click)="addEmail()">
            <span class="glyphicon glyphicon-plus-sign"></span>
            Add
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!isAgentMode()">
      <div class="col-xs-8">
        <ng-container *ngIf="strings && strings.length > 0">
          <div class="input-group" *ngFor="let string of strings; let i = index" >
            <input type="text" id="removeTask" class="form-control" [value]="string" disabled>

            <div class="input-group-addon btn-danger" (click)="removeString(i)">
              <span class="glyphicon glyphicon-minus-sign"></span>
              Remove
            </div>
          </div>
        </ng-container>

        <div class="input-group">

          <input type="text" id="addTask" class="form-control" [formControl]="currentTaskInput" placeholder="Task Name">

          <div class="input-group-addon btn-success" (click)="addTask()">
            <span class="glyphicon glyphicon-plus-sign"></span>
            Add
          </div>
        </div>
      </div>
    </ng-container>




  </div>
</div>



