<div class="row">
    <div class="col-xs-3">

      <div class="col-xs-6">
        <label for="rows" class="main-label" name="rows" >Rows</label>
      </div>


      <div class="col-xs-6">
        <input type="number" id="rows" class="form-control form-custom-font" [formControl]="rowsControl" ngDefaultControl>
      </div>

    </div>

    <div class="col-xs-3">
      <div class="col-xs-6">
        <label class="main-label" for="cols" >Columns</label>
      </div>

      <div class="col-xs-6">
        <input type="number" id="cols" class="form-control  form-custom-font" name="cols"  ngDefaultControl [formControl]="colsControl">
      </div>


    </div>

    <div class="col-xs-3">

      <div class="col-xs-4">
        <label  class="main-label">Fill?</label>
      </div>

      <div class="col-xs-6">
        <input type="checkbox" name="fill"  ngDefaultControl [formControl]="fillControl"/>
      </div>


    </div>



    <div class="col-xs-3">

      <button class="btn btn-primary" (click)="generate()">
        Generate
      </button>
    </div>
</div>

