p {
  color: #82A3A1;
  font-family: 'Oswald', serif;
  font-size: 21pt;
  text-align: center;
}

.panel-heading{
  background: #114B5F;
  color:white;
  font-family: 'Oswald', serif;
  font-size: 21pt;
  text-align: center;
}

.panel {
  border: 1px solid black;
}

.sendButton {
  font-family: 'Oswald', bold;


  padding: 4%;
  text-align: center;
  font-size: 21pt;
  color: white;
  border-radius: 10px;
  background: #4CAF50;

}

.sendButton:hover {
  background: #36743a;
}

.resetButton {
  font-family: 'Oswald', bold;


  padding: 4%;
  text-align: center;
  font-size: 21pt;
  color: white;
  border-radius: 10px;
  background: #af8444;
}

.resetButton:hover {
  background: #815e39;
}
