h1 {
  font-size: 70pt;
  font-family: 'Lobster' , cursive;
  text-align: center;
  color: white;
  margin-bottom:4%;
}

h3 {
  font-size: 18pt;
  font-family: 'Arvo';
  text-align: center;
  color: white;
}

h4 {
  font-size: 32pt;
  font-family: 'Lobster' , cursive;
  text-align: center;
  color: white;
  margin-bottom:4%;
}
