<app-alert-service></app-alert-service>

<ng-container *ngIf="mainSite()">
  <div class="col-xs-12 titleBar hidden-xs animated fadeInDown">

    <h1>Assignment Optimiser</h1>


  </div>

  <div class="col-xs-12 titleBar visible-xs animated fadeInDown">

    <h4>Assignment Optimiser</h4>

  </div>

</ng-container>



<div class="router-container">
  <router-outlet></router-outlet>
  <br>
  <br>
  <br>
  <br>
</div>


<ng-container *ngIf="mainSite()">

  <app-navbar></app-navbar>



</ng-container>

