<app-alert-service></app-alert-service>

<ng-container *ngIf="mainSite()">
  <div class="col-xs-12 titleBar hidden-xs animated fadeInDown">

    <h1>Assignment Optimiser</h1>

    <app-navbar></app-navbar>
  </div>

  <div class="col-xs-12 titleBar visible-xs animated fadeInDown">

    <h4>Assignment Optimiser</h4>
    <app-navbar></app-navbar>
  </div>

</ng-container>



<div class="router-container">
  <router-outlet></router-outlet>
</div>


<ng-container *ngIf="mainSite()">
  <div class=" footer-main hidden-xs">
    <div class="container">
      <div class="row ">
        <ul>
          <li><h3>by Daniel Cooke</h3></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="footer-sub hidden-xs">
    <div class="container">
      <div class="row ">
        <ul>
          <li><h3>github</h3></li>
          <li><h3>Linkedin</h3></li>
        </ul>
      </div>

    </div>
  </div>



</ng-container>

