
  <div class="container-fluid" >
    <div class="row">


      <div class="col-xs-12 col-md-12 col-lg-8 col-lg-offset-2">
        <ng-container *ngIf="page == 1">

          <div class="animated fadeIn">
            <div class="panel panel-default" style="min-height: 700px;">
              <div class="panel-heading">
                <div class="panel-title "><h3 class="sectionText">Assignment Details</h3></div>
              </div>
              <div class="panel-body">

                <app-assignment-details
                  (formState)="assignmentDetailsChanged($event)"></app-assignment-details>

              </div>

            </div >
          </div>








        </ng-container>

        <ng-container *ngIf="page==2">
          <div class="panel panel-default" style="margin-top:0;">
            <div class="panel-heading">
              <h3 class="panel-title sectionText">Agents</h3>
            </div>
            <div class="panel-body">
              <app-task-agents
                [mode]="agentMode"
                [manualStrings]="manualEmails"
                [csvFilename]="csvEmailsFilename"
                [csvUploadStrings]="csvEmails"
                (stringsChanged)="taskAgentChanged($event)"
                #agent

              ></app-task-agents>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="page == 3">
          <div class="panel panel-default animated slideInRight">

            <div class="panel-heading">
              <div class="panel-title sectionText">Task Details</div>
            </div>

            <div class="panel-body">

              <app-task-agents
                [mode]="taskMode"
                [manualStrings]="manualTasks"
                [csvFilename]="csvTaskFilename"
                [csvUploadStrings]="csvTasks"
                (stringsChanged)="taskAgentChanged($event)"
                #task

              ></app-task-agents>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="page == 4" class="animated fadeIn">

          <app-survey-options #surveyOptions
                              (detailsChanged)="updatePageState()"

          >

          </app-survey-options>
        </ng-container>
        <div class="row" style="display: block">


          <div class="col-xs-12">
            <div class="pull-right ">
              <div class="continue-button animated fadeIn" *ngIf="continueButtonVisible" (click)="next(confirmFinishModal)">
                {{continueButtonText}}

              </div>
            </div>

            <div class="pull-left" *ngIf="page > 1">

              <div class="continue-button animated fadeIn" (click)="back()">


                Back
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>



  </div>


  <ng-template #confirmFinishModal>
    <div class="modal-header">
      <div class="row">
        <div class="col-xs-5">
          <h3 class="modal-title sectionText">Are you sure?</h3>

        </div>
        <div class="col-xs-2 col-xs-offset-5">
          <button type="button" class="close sectionText pull-right" aria-label="Close" (click)="confirmFinishModalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>

    <div class="modal-body">
      <p class="helpText">Make sure everything has been entered correctly.</p>
      <p class="helpText"><span style="font-weight: bolder">Survey links will be sent to the entered email addresses.</span></p>


    </div>

    <div class="modal-footer">
      <button class="btn-success" (click)="finish()">
        Continue
      </button>

      <button class="btn-danger" (click)="confirmFinishModalRef.hide()">
        Back
      </button>
    </div>

  </ng-template>
