.navbar-container {
  width: 100%;
  display: block;

  position: fixed;
  bottom: 0;
  border: 2px solid #dad9d9;
  background: white;
}

.button-container {
  text-align: left;
}

li {
  display: inline;
  font-family: 'Arvo';
  color: white;
  font-size: 20pt;


}

.btn {

  color: #b3b3b3;
  padding: 10px 40px;
}




.icon {
  display:block;
}
.active {

  color: #808080;
}



.btn:hover {
  color: #808080;

}


