<div class="navbar-container">

  <span class="button-container">
    <div class="btn-group">
    <label class="btn"  (click)="navigate('/')" [(ngModel)]="activeTab"
           btnRadio="home" tabindex="0" role="button">

      <div class="glyphicon glyphicon-home icon" ></div>
      Home
    </label>
    <label class="btn"  (click)="navigate('/playground')" [(ngModel)]="activeTab"
           btnRadio="playground" tabindex="0" role="button">
      <span class="glyphicon glyphicon-th icon"></span>
      Playground
    </label>
    <label class="btn"  (click)="navigate('/new-problem')" [(ngModel)]="activeTab"
           btnRadio="assignment" tabindex="0" role="button">
      <span class="fas fa-plus-square icon"></span>
      <span class="icon"></span>
      Create Assignment
    </label>
  </div>
  </span>


</div>


