<div class="col-xs-12">


  <app-expandable-panel *ngFor="let geneticResult of results; let solutionIndex = index">

    <span head>
      <span class="container">
        <label class="labelDesktop col-xs-2">Result #{{solutionIndex + 1}}</label>


        <label class="labelDesktop col-xs-2">Total Cost: </label>
        <label class="labelMobile col-xs-1">{{geneticResult.totalCost}}</label>




        <label class="labelDesktop col-xs-2">Distance: </label>
        <label class="labelMobile col-xs-1">{{geneticResult.distance}}</label>
      </span>




    </span>


    <div body>
      <tabset>
        <tab *ngIf="geneticResult.assignment">
          <ng-template tabHeading>
            Assignments
          </ng-template>

          <app-genetic-assignments [assignment]="geneticResult.assignment"></app-genetic-assignments>
        </tab>


        <tab>
          <ng-template tabHeading>
            Matrix
          </ng-template>
          <ng-container *ngIf="costMatrix" >



            <div style="min-width: 500px; overflow: auto;  ">
              <div style="max-height: 300px; overflow: auto;">
                <table>
                  <thead class="fixedHeader">
                  <th></th>
                  <th class="labelMobile" *ngFor="let col of costMatrix[0]; let i = index">Task {{i + 1}}</th>
                  </thead>
                  <tbody>
                  <tr *ngFor="let row of costMatrix; let rowIndex = index ">

                    <th class="labelMobile" style="width: 100px; display:block;">Agent {{rowIndex + 1}}</th>

                    <td *ngFor="let cell of row; let colIndex = index">

                      <input type="text"
                             [value]="cell"
                             disabled
                             class="{{getClass(solutionIndex, rowIndex, colIndex)}}"
                      >
                    </td>
                  </tr>
                  </tbody>
                </table>

              </div>
            </div>





          </ng-container>


        </tab>
      </tabset>

    </div>
  </app-expandable-panel>
</div>
