
<div class="row">
  <div class="col-xs-12">

    <div class="col-xs-10">

      <label for="browse" class="my-file-upload col-xs-4">Choose a file
        <span class="glyphicon glyphicon-file"></span>
      </label>
      <input type="file" id="browse" class="form-control-file hidden"  (change)="fileChanged($event)" accept=".csv">
      <div class="col-xs-8" style="padding:0;">
        <input type="text" class="form-control" disabled [value]="fileName" style="margin-left:0;">
      </div>
    </div>

    <div class="col-xs-2">
      <button class="btn btn-success" (click)="upload()">
        Upload
        <span class="glyphicon glyphicon-upload"></span>
      </button>
    </div>
  </div>
</div>

<br>
<div class="row">

    <app-scroll-display
      [inputStrings]="strings"
      [title]="getDisplayTitle()"
    ></app-scroll-display>

</div>

