
  <ng-container *ngIf="grid" >



    <div style="min-width: 500px; overflow: auto;  ">
      <div class="container" >
        <div *ngFor="let row of grid; let rowIndex = index " class="row" style="padding: 0; margin:0">

          <input type="text" *ngFor="let cell of row; let colIndex = index"
                 value="{{cell}}"


                 class="{{getClass(rowIndex, colIndex)}}"
                 [style.width]="colWidth"
                 (change)="valueChanged(rowIndex, colIndex, $event.target.value)"
          >

        </div>
      </div>
    </div>





  </ng-container>


