.optimumCell {
  font-family: 'Arvo';
  font-size: 12pt;
  background: #C0DFA1;
  border: 1px transparent;
}
.regularCell{
  font-family: 'Arvo' ;
  font-size: 12pt;
  background: white;
  border: 1px #011023;

}
