
<div class="container home-page-info">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">


        <div class="jumbotron" style="text-align: center">
          <h2 class="sectionText">Welcome!</h2>
          <br>
          <p class="animated fadeIn" *ngIf="page ==0">This application is designed to solve the <a href="https://en.wikipedia.org/wiki/Assignment_problem">Assignment Problem</a> using
            the <a href="https://en.wikipedia.org/wiki/Hungarian_algorithm">Hungarian Method</a>.
          </p>



        </div>

    </div>
  </div>
</div>

<div class="container home-page-playground-info" #playground>
  <div class="row">
    <h2>Playground</h2>
  </div>
</div>

<div class="container home-page-assignment-info" #assignment>
  <div class="row">
    <h2>Assignment</h2>
  </div>
</div>


