
p {
  color: #82A3A1;
  font-family: 'Oswald', serif;
  font-size: 21pt;
  text-align: center;
}

a {
  color: #9FC490;
}




.mainButton{
  font-family: 'Oswald' , serif;
  font-size: 36pt;
  color: #82A3A1;
}

.mainButton:hover{
  color: #C0DFA1;
  cursor: hand;
}

hr {
  border-color: #2c3847;
  border-radius: 2px;
}
