.home-page-info{
  background: white;

  width: 100%;
  padding: 5%;
}
.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  opacity: 0.4;
  left: 0;
}

.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  opacity: 0.4;
  right: 0;
}

.shadow-one {
  box-shadow: 18px 17px #2e5965;
}
.shadow-two {
  box-shadow: 18px 17px #0c3d4e;
}
.home-page-playground-info {
  padding: 5%;
  background: #346878;
  width: 100%;
}

th {
  border: none;
}
th.columnTitle{
  text-align: center;
}

th.rowTitle {
  text-align: right;
}
table >tr {
  border: none;
}
table {
  border: none;
}
tr > td {
  border: 1px solid black;
  text-align: center;
  padding: 5%;
}

.home-page-assignment-info {
  padding: 5%;
  background: #114B5F;;
  width: 100%;
}

.white {
  color:white;
}


.thumbnail {
  position: relative;

}

.caption {
  position: absolute;
  top: 45%;
  left: 0;

  height:35%;
  width: 100%;
  background: black;
  opacity: 0.5;
  box-shadow: 4px 2px 20px 20px #afafaf;
}


.image-container {
  background: black;
  z-index: 200;
  opacity: 0.4;
}
a {
  color:#5cb85c;
}

.imgLink {
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  vertical-align: middle;
  text-align: center;
  color: transparent;
  transition: all .3s ease;
  text-decoration: none;
}

.imgLink:hover {
  background-color: rgba(0,0,0,.5);
  z-index: 10000;
  color: #fff;
  transition: all .3s ease;
  text-decoration: none;
}

