.home-page-info{
  background: white;

  width: 100%;
  padding: 5%;
}

.home-page-playground-info {
  padding: 5%;
  background: #346878;
  width: 100%;
}

.home-page-assignment-info {
  padding: 5%;
  background: #114B5F;;
  width: 100%;
}
.jumbotron {
  background: white;
}
