
<div class="container-fluid">



  <div class="row">


      <div class="text-center" style="margin-bottom:5%;">
        <p class="helpText">
          {{getManualEntryHelptext()}}
        </p>
      </div>


      <app-enter-task-agents
        (stringsChanged)="manualStringsChanged($event)"
        [strings]="manualStrings"
        [mode]="mode"
      ></app-enter-task-agents>

  </div>

  <div class="row">
    <br>
  </div>
  <div class="row">
    <br>
  </div>
  <div class="row">
    <br>
  </div>
  <div class="row">
    <br>
  </div>


  <div class="row">

      <div class="col-xs-12 text-center">
        <p class="helpText">
          OR
        </p>
      </div>

  </div>

  <div class="row">
    <br>
  </div>
  <div class="row">
    <br>
  </div>
  <div class="row">
    <br>
  </div>
  <div class="row">
    <br>
  </div>


  <div class="row">


      <div class=" text-center">
        <p class="helpText">
          {{getCsvHelptext()}}
        </p>
      </div>

    <div class="row">
      <br>
    </div>
    <div class="row">
      <br>
    </div>


      <app-upload-task-agents
        [mode]="mode"
        [strings]="csvUploadStrings"
        [fileName]="csvFilename"
        (stringsChanged)="csvUploadStringsChanged($event)"
        (filenameChanged)="csvFilenameChangedEvent($event)"

      ></app-upload-task-agents>



  </div>




</div>



