
<div class="container">
  <p>
    {{getManualEntryHelptext()}}
  </p>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-1">

      <app-enter-task-agents
       (stringsChanged)="manualStringsChanged($event)"
       [strings]="manualStrings"
        [mode]="mode"
      ></app-enter-task-agents>
    </div>
  </div>

  <hr>

  <p>
    OR
  </p>

  <hr>

  <p>
    {{getCsvHelptext()}}
  </p>
  <div class="row">

    <app-upload-task-agents
      [mode]="mode"
      [strings]="csvUploadStrings"
      [fileName]="csvFilename"
      (stringsChanged)="csvUploadStringsChanged($event)"
      (filenameChanged)="csvFilenameChangedEvent($event)"

    ></app-upload-task-agents>

  </div>




</div>



