<div class="panel panel-default" >
  <div class="panel-heading">
    <div class="helpText panel-title">
      Emails
    </div>
  </div>
  <div class="panel-body">


    <button class="btn btn-success" [disabled]="surveysComplete" (click)="sendEmail()">Resend Surveys</button>

    <button class="btn btn-success" [disabled]="!assignmentFinished">Send Assignment Emails</button>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <div class="helpText panel-title">
      Solve
    </div>
  </div>
  <div class="panel-body">
    <div class="col-xs-12">
      <app-algorithm-select
        [disabled]="!surveysComplete || assignmentFinished"
        [options]="solveOptions"
      ></app-algorithm-select>


      <div class="col-xs-12">
        <br>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-success" [disabled]="!surveysComplete || assignmentFinished" (click)="solve()">Find Optimum Assignment</button>
      </div>



    </div>

    <div class="col-xs-12">
      <ng-container id="genetics" *ngIf="solveOptions.algorithm === 'genetic'">


        <app-genetic-options
          *ngIf="assignment"
          [tasks]="assignment.tasks"
          [geneticOptions]="solveOptions.geneticOptions"
        ></app-genetic-options>

        <div class="row">
          <hr>
        </div>


      </ng-container>
    </div>

    <div class="panel panel-default" *ngIf="geneticResults && geneticResults.length > 0">
      <div class="panel-heading">
        <div class="helpText panel-title">
          Results
        </div>
      </div>

      <app-genetic-results
        [geneticResults]="geneticResults"

      ></app-genetic-results>
    </div>
  </div>


</div>
