<div class="panel panel-default" >
  <div class="panel-heading">
    <div class="helpText panel-title">
      Emails
    </div>
  </div>
  <div class="panel-body">

    <button class="btn btn-success" [disabled]="surveysComplete">Resend Surveys</button>

    <button class="btn btn-success" [disabled]="!assignmentFinished">Send Assignment Emails</button>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <div class="helpText panel-title">
      Solve
    </div>
  </div>
  <div class="panel-body">
    <div class="col-xs-6">
      <label class="labelDesktop col-xs-12">Algorithm </label>

      <div class="col-xs-12">
        <select name="algorithmSelect"
                id="algorithmSelect"
                class="form-control"
                [disabled]="!surveysComplete || assignmentFinished"
                [(ngModel)]="selectedAlgorithm"
        >
          <option [ngValue]="'hungarian'">Hungarian</option>
          <option [ngValue]="'genetic'">Genetic</option>

        </select>
      </div>

      <div class="col-xs-12">
        <br>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-success" [disabled]="!surveysComplete || assignmentFinished" (click)="solve()">Find Optimum Assignment</button>
      </div>



    </div>


    <ng-container id="genetics" *ngIf="selectedAlgorithm === 'genetic'">
      <div id="geneticOptions"  class="col-xs-6 animated slideInRight" >
        <label class="labelMobile col-xs-6">Number of generations</label>
        <div class="col-xs-6">
          <input type="number" min="2" max="20" step="1" [(ngModel)]="geneticOptions.maxGenerations" class="form-control">
        </div>

        <label class="labelMobile col-xs-6">Mutation chance (%)</label>
        <div class="col-xs-6">
          <input type="number" min="0" max="100" step="5" [(ngModel)]="geneticOptions.mutationChance" class="form-control">
        </div>

        <label class="labelMobile col-xs-6">Population Size</label>
        <div class="col-xs-6">
          <input type="number" min="10" max="50" step="1"  [(ngModel)]="geneticOptions.populationSize" class="form-control">
        </div>

        <div class="col-xs-12">
          <hr>
        </div>
        <label class="labelMobile col-xs-6">Results to return</label>
        <div class="col-xs-6">
          <input type="number"  [(ngModel)]="geneticOptions.returnedCandidates" class="form-control">
        </div>

        <label class="labelMobile col-xs-6">Distance Threshold</label>
        <div class="col-xs-6">
          <input type="number"  [(ngModel)]="geneticOptions.distanceThreshold" class="form-control">
        </div>
      </div>
      <div class="col-xs-12">
        <br>
        <br>
      </div>
      <div id="geneticGroups" class="col-xs-12 animated fadeIn">

        <app-groups
          [groups]="geneticOptions.groups"
          [tasks]="assignment.tasks"
        >

        </app-groups>
      </div>

      <div class="row">
        <hr>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="helpText panel-title">
            Results
          </div>
        </div>

        <app-genetic-results
          [geneticResults]="geneticResults"
          *ngIf="geneticResults && geneticResults.length > 0"
        ></app-genetic-results>
      </div>
    </ng-container>
  </div>


</div>
