<button class="btn" (click)="sendOrganserEmail()">C:ICI</button>
<div class="container-fluid" *ngIf="assignment">

  <div class="col-xs-10 col-xs-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">

        <div class="row">
          <br>
        </div>
      </div>

      <div class="panel-body">
        <div class="jumbotron">
          <h1 class="sectionText">{{assignment.assignmentTitle}}</h1>
          <h2 class="sectionText">Welcome, {{assignment.organiserName}}
          </h2>
        </div>



      </div>
    </div>

    <span *ngIf="!assignment.finished; else sendEmailsButton">
        <div class="row" >
          <div class="col-xs-12" >


            <span class="sectionText">Progress</span>
            <span class="sectionText-sm">- {{numberOfCompletedSurveys}} / {{assignment.agents.length}} COMPLETED</span>
            <span *ngIf="allSurveysFinished" class="sectionText-sm" style="color:#48a215;">
              <span class="glyphicon glyphicon-ok-circle"></span> ALL {{assignment.agentAlias?.toUpperCase()}}'S HAVE ANSWERED.
            </span>
          </div>

      </div>

      <div class="row">
        <div class="col-xs-12">
          <app-progress
            [agents]="assignment.agents"
            [agentAlias] = "assignment.agentAlias"
          ></app-progress>

          <hr>
          <br>
          <br>
          <br>
        </div>
      </div>
    </span>


    <ng-template #sendEmailsButton>
      <h3 class="sectionText">This Assignment Problem has been solved.</h3>
      <p class="labelDesktop">You can view additional information in the stats tab below.</p>
      <div class="text-center">
        <div class="btn btn-success" style="margin-bottom:5%;font: 21pt 'Oswald';" (click)="sendTasksToAgents()">
          Send assigned {{assignment.taskAlias}}s to {{assignment.agentAlias}}s <i class="fa fa-mail-forward"></i>
        </div>
      </div>
    </ng-template>

    <div class="row">
      <tabset>
        <tab class="sectionText-sm" *ngIf="atLeastOneSurveyAnswered">
          <ng-template tabHeading>
            <span class="glyphicon glyphicon-stats"></span>
            Stats
          </ng-template>

          <div class="row" >

            <app-stats
              *ngIf="assignment && assignmentId"
              [assignment]="assignment"
              [assignmentId]="assignmentId"
            ></app-stats>
          </div>
        </tab>

        <tab class="sectionText-sm">
          <ng-template tabHeading>
            <span class="glyphicon glyphicon-send"></span>
            Actions
          </ng-template>

          <div class="row">

            <app-actions
              [surveysComplete]="allSurveysFinished"
              [assignmentId] ="assignmentId"
              [assignment]="assignment"
              [assignmentFinished]="assignment.finished"
              (refreshPage)="getAssignment()"
            ></app-actions>
          </div>
        </tab>

        <tab class="sectionText-sm" *ngIf="assignment.finished" [active]="true">
          <ng-template tabHeading>
            <span class="glyphicon glyphicon-list-alt"></span>
            Results
          </ng-template>

          <div class="row">

            <app-results
              [assignmentId]="assignmentId"

            ></app-results>

          </div>
        </tab>


      </tabset>
    </div>
  </div>



</div>

